body{
	background-color: lightgray;
}
.todo-list{
	width: 50%;
	background-color: grey;
}

.todo-item{
	padding:30px;
	background-color: red;

}

.todo-text{
	/*background-color: yellow;	*/

}
a:link{
	color: green;
	
}
a:visited{
	color: gray;
}

body{
	background-size: auto;
}

tr{
	padding: 5px;
}

td{
	padding: 5px;
}
.my-projects{
}

.thumb{
	width: 50px;
	height: 50px;
}

.media-button{
}
.button {
	background-color: #000000;
	color: #FFFFFF;
	padding: 10px;
	text-align: center;
}
.feed{
	color: green;
	width: fill;
}

.message-box{
	width: 20%;
}
.message{
	color: red;

}

.post-time{
	color: blue;
}
.post-content{
	color: green;
}
