.body{
	font-size: 25px;
}
.header{
	text-align: center;
	color: black;
	background-color: grey;
	padding: 10;
}

.header-text{
	font-size: 25px;
	padding-bottom: 10px;
	color: black;
}

.nav-bar{
	color: black;
	background-color: lightgrey;
	width: 30%;
	height: 30px;
	text-align: center;
	font-size: 15;
}

.footer{
	text-align: center;
	color: black;
	background-color: grey;
	padding: 10;
}

body{
	background-color: lightgrey;
	font-family: Comic-Sans MS;
}
